{%  extends 'layout.html.twig' %}

{% block title %} Home {% endblock %}
{% block main %}
    <div class="container-fluid">
        <!-- Bloc date + identifiant user connecter -->
        <div class="offset-9 col-3">
            <p class="">Date du jour : {{ date.format('d/m/Y') }}</p>
            <p class="">Participant: {{ user.prenom }} {{ user.nom }}</p>
        </div>
        <!-- Bloc recherche -->
        <div class="col-12 d-flex flex-row">
            <!-- Search bar -->
            <div class="col-6">
                <h3>Filter les sorties</h3>
                <div class="form-group d-flex flex-row">
                    <label for="campus" class="col-4">Campus</label>
                    <select id="campus" class="form-control offset-1 col-7">
                        <option id="campus-0">Tout les campus</option>
                        {% for campus in campus %}
                            <option id="campus-{{ campus.id }}">{{ campus.nom }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group d-flex flex-row">
                    <label for="nom-sortie" class="col-5">Le nom de la sortie contient :</label>
                    <input id="nom-sortie" class="form-control col-7" type="text" placeholder="search">
                </div>
                <div class="form-group pl-3 d-flex flex-row">
                    <label for="date-debut" class="mr-2 mt-1">Entre </label>
                    <input id="date-debut" type="date">
                    <div class="d-flex justify-content-center align-items-center ml-2 mr-2">
                        <span class="material-icons">date_range</span>
                    </div>
                    <label for="date-fin" class="mr-2 mt-1"> et </label>
                    <input id="date-fin" type="date">
                    <div class="d-flex justify-content-center align-items-center ml-2 mr-2">
                        <span class="material-icons">date_range</span>
                    </div>
                </div>
            </div>
            <!-- Options -->
            <div class="col-6 d-flex flex-row flex-wrap">
                <div class="col-8 mt-5">
                    <div class="form-group d-inline-block mt-5">
                        <input type="checkbox" id="check1" checked>
                        <label for="check1">Sorties dont je suis l'organisateur / trice</label>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="check2" checked>
                        <label for="check2">Sorties auxquelles je suis inscrit/e</label>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="check3" checked>
                        <label for="check3">Sorties auxquelles je ne suis pas inscrit/e</label>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="check4">
                        <label for="check4">Sorties passées</label>
                    </div>
                </div>
                <div class="col-4 text-center mt-5">
                    <button class="btn btn-secondary btn-lg" id="btn-search">Rechercher</button>
                </div>
            </div>
        </div>
        <!-- Table de résultat -->
        <table class="overflow-auto border border-dark col-12">
            <thead class="bg-secondary text-white">
                <tr>
                    <th class="border-right">Nom de la sortie</th>
                    <th class="border-right">Date de la sortie</th>
                    <th class="border-right">Clôture</th>
                    <th class="border-right">Inscrits/places</th>
                    <th class="border-right">Etat</th>
                    <th class="border-right">Inscrit</th>
                    <th class="border-right">Organisateur</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for sortie in sorties %}
                    <tr>
                        <td class="border-right">{{ sortie.nom }}</td>
                        <td class="border-right">{{  sortie.dateHeureDebut }}</td>
                        <td class="border-right">{{ sortie.dateLimiteInscription | format('d/mm/Y') }}</td>
                        <td class="border-right">{{ sortie.nbInscriptionMax }}</td>
                        <td class="border-right"></td>
                        <td class="border-right"></td>
                        <td class="border-right">{{  sortie.organisateur }}</td>
                        <td class="border-right">Afficher</td>
                    </tr>
                {% endfor %}
                {% if sorties == null %}
                    <tr>
                        <td colspan="8" class="text-center">Aucune sorties ne correspondent aux critères de recherche</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
        <button class="btn btn-secondary" id="btn-create">Créer une sortie</button>
    </div>
{% endblock %}