{% extends 'layout.html.twig' %}

{% block title %} Sortie {% endblock %}
{% block main %}
    <h3 class="col-12 text-center mb-5">Afficher une sortie</h3>
    {{ form_start(sortieForm, {'attr': {'class': 'd-flex flex-row offset-1 col-10'}}) }}
        <div class="col-6">
            {{ form_row(sortieForm.nom) }}
            {{ form_row(sortieForm.dateSortie) }}
            {{ form_row(sortieForm.dateLimite) }}
            {{ form_row(sortieForm.nombrePlace) }}
            {{ form_row(sortieForm.duree) }}
            {{ form_row(sortieForm.description) }}
        </div>
        <div class="col-6">
            {{ form_row(sortieForm.campus) }}
            {{ form_row(sortieForm.lieu) }}
            {{ form_row(sortieForm.rue) }}
            {{ form_row(sortieForm.codePostal) }}
            {{ form_row(sortieForm.latitude) }}
            {{ form_row(sortieForm.longitude) }}
        </div>
    {{ form_end(sortieForm) }}
    <div class="ml-4">
        <h4>Liste des participants inscrits :</h4>
        <table class="col-4 overflow-auto border border-dark">
            <thead class="bg-secondary text-white">
                <tr>
                    <th>Pseudo</th>
                    <th>Nom</th>
                </tr>
            </thead>
            <tbody>
                {% if sortie.participants is empty %}
                    <tr><td colspan="2" class="text-center">Aucun participant</td></tr>
                {% else %}
                    {% for participant in sortie.participants %}
                        <tr>
                            <td>{{ participant.username }}</td>
                            <td>{{ participant.prenom }} {{ participant.nom }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}