{% extends 'layout.html.twig' %}

{% block title %} Sortie {% endblock %}
{% block main %}
    <h3 class="col-12 text-center mb-5">Afficher une sortie</h3>
    {{ form_start(sortieForm, {'attr': {'class': 'd-flex flex-row offset-1 col-10'}}) }}
    <div class="col-6">
        {{ form_row(sortieForm.nom) }}
        {{ form_row(sortieForm.dateHeureDebut) }}
        {{ form_row(sortieForm.dateLimiteInscription) }}
        {{ form_row(sortieForm.nbInscriptionMax) }}
        {{ form_row(sortieForm.duree) }}
        {{ form_row(sortieForm.infosSortie) }}
    </div>
    <div class="col-6">
        {{ form_row(sortieForm.campus) }}
        {{ form_row(sortieForm.lieu) }}
        <div class="col-12 d-flex flex-row m-0 p-0 border-0 mb-2">
            <label class="col-6" for="">Rue : </label>
            <input class="col-6" type="text" value="{{ lieu.rue }}"/>
        </div>
        <div class="col-12 d-flex flex-row m-0 p-0 border-0 mb-2">
            <label class="col-6" for="">Code postal : </label>
            <input class="col-6" type="text" value="{{ ville.codePostal }}"/>
        </div>
        <div class="col-12 d-flex flex-row m-0 p-0 border-0 mb-2">
            <label  class="col-6" for="">Latitude : </label>
            <input class="col-6" type="text" value="{{ lieu.latitude }}"/>
        </div>
        <div class="col-12 d-flex flex-row m-0 p-0 border-0 mb-2">
            <label class="col-6" for="">Longitude : </label>
            <input class="col-6" type="text" value="{{ lieu.longitude }}"/>
        </div>
    </div>
    {{ form_end(sortieForm) }}
    <div>
        <h4>Liste des participants inscrits :</h4>
        <table class="col-4">
            <thead>
                <tr>
                    <th>Pseudo</th>
                    <th>Nom</th>
                </tr>
            </thead>
            <tbody>
                {% if participants is empty %}
                    <tr><td colspan="2">Aucun participant</td></tr>
                {% else %}
                    {% for participant in participants %}
                        <tr>
                            <td>{{ participant.username }}</td>
                            <td>{{ participant.prenom }} {{ participant.nom }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}