{% extends 'layout.html.twig' %}

{% block title %} Home {% endblock %}
{% block main %}
    <div class="container-fluid d-flex flex-row flex-wrap">
        <!-- Bloc date + identifiant user connecter -->
        <div class="offset-9 col-3 offset-1">
            <p class="">Date du jour : {{ date.format('d/m/Y') }}</p>
            <p class="">Participant: {{ user.prenom }} {{ user.nom }}</p>
        </div>

        <h3 class="col-12">Filter les sorties</h3>
        {{ form_start(listSortieForm, {'attr': {'class': 'd-flex flex-column'}}) }}
        <div class="col-12 d-flex flex-row">
            <div class="col-5">
                {{ form_row(listSortieForm.campus) }}
                {{ form_row(listSortieForm.nomSortie) }}
                <div class="col-12 d-flex flex-row m-0 p-0 border-0">
                    {{ form_row(listSortieForm.firstDate) }}
                    {{ form_row(listSortieForm.secondeDate) }}
                </div>
            </div>
            <div class="col-5">
                <div class="col-12 d-inline-block mt-4">
                    {{ form_widget(listSortieForm.bOrganisateur) }}
                    {{ form_label(listSortieForm.bOrganisateur) }}
                </div>

                <div class="col-12 d-inline-block">
                    {{ form_widget(listSortieForm.bInscrit) }}
                    {{ form_label(listSortieForm.bInscrit) }}
                </div>
                <div class="col-12 d-inline-block">
                    {{ form_widget(listSortieForm.bNonInscrit) }}
                    {{ form_label(listSortieForm.bNonInscrit) }}
                </div>
                <div class="col-12 d-inline-block">
                    {{ form_widget(listSortieForm.bFini) }}
                    {{ form_label(listSortieForm.bFini) }}
                </div>
            </div>
            <div class="col-2">
                {{ form_row(listSortieForm.submit) }}
            </div>
        </div>
        <table class="overflow-auto border border-dark col-12">
            <thead class="bg-secondary text-white">
                <tr>
                    <th>Nom de la sortie</th>
                    <th>Date de la sortie</th>
                    <th>Clôture</th>
                    <th>Inscrits/places</th>
                    <th>Etat</th>
                    <th>Inscrit</th>
                    <th>Organisateur</th>
                    <th>Actions</th>
                </tr>

            </thead>
            <tbody>
            {% if sorties is empty %}
                <tr>
                    <td colspan="8" class="text-center">Aucune sortie de trouvée !</td>
                </tr>
            {% else %}
                {% for sortie in sorties %}
                    <tr>
                        <td>{{ sortie.nom }}</td>
                        <td>{{ sortie.dateHeureDebut|date("m/d/Y") }}</td>
                        <td>{{ sortie.dateLimiteInscription|date("m/d/Y") }}</td>
                        <td>{{ sortie.participants|length }}/{{ sortie.nbInscriptionMax }}</td>
                        <td>{{ sortie.etat.libelle }}</td>
                        <td>
                            {% for participant in sortie.participants %}
                                {% if participant.id == user.id %}
                                    X
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>{{ sortie.organisateur.prenom }} {{ sortie.organisateur.nom|first }}.</td>
                        <td>
                            {% if sortie.organisateur == user %}
                                <a class="" href="{{ path('sortie_update', {'id': sortie.id})  }}">Modifier</a>
                                {% if sortie.etat.id == 1 %}
                                    <a class="" href="{{ path('sortie_publier', {'id': sortie.id})  }}">Publier</a>
                                {% endif %}
                                {% if sortie.etat.id == 1 or sortie.etat.id == 2 %}
                                    <a class="" href="{{ path('sortie_annuler', {'id': sortie.id})  }}">Annuler</a>
                                {% endif %}
                            {% else %}
                                {% for participant in sortie.participants %}
                                    {% if participant == user %}
                                        <a class="" href="{{ path('home', {'id': sortie.id})  }}">Se désister</a>
                                    {% else %}
                                        <a class="" href="{{ path('home', {'id': sortie.id})  }}">S'inscrire</a>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            <a class="" href="{{ path('sortie_view', {'id': sortie.id})  }}">Afficher</a>
                            <a class="" href="{{ path('sortie_test', {'id': sortie.id})  }}">Test</a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
        {{ form_row(listSortieForm.creerSortie) }}

        {{ form_end(listSortieForm) }}

    </div>
{% endblock %}
{% block javascripts_footer %}
    {{ parent() }}
{% endblock %}




