{%  extends 'layout.html.twig' %}

{% block title %} Profil {% endblock %}
{% block main %}
        <h3 class="col-12 text-center mt-5">Mon Profil</h3>
        <section class="d-flex flex-row">
                <div class="col-2 offset-1">
                        <figure>
                                <img class="col-12" src="{{ source }}" alt="profil"/>
                        </figure>
                </div>

                {{ form_start(profilForm, {'attr': {'class': 'min-vh-section mt-5 col-7'}}) }}
                        <div class="offset-3 col-6 mt-2">
                                {{ form_row(profilForm.username, {'label_attr': {'class': 'col-5'}, 'attr': {'class': 'col-7'}}) }}
                        </div>

                        <div class="offset-3 col-6 mt-2">
                                {{ form_row(profilForm.nom, {'label_attr': {'class': 'col-5'}, 'attr': {'class': 'col-7'}}) }}
                        </div>

                        <div class="offset-3 col-6 mt-2">
                                {{ form_row(profilForm.prenom, {'label_attr': {'class': 'col-5'}, 'attr': {'class': 'col-7'}}) }}
                        </div>

                        <div class="offset-3 col-6 mt-2">
                                {{ form_row(profilForm.telephone, {'label_attr': {'class': 'col-5'}, 'attr': {'class': 'col-7'}}) }}
                        </div>

                        <div class="offset-3 col-6 mt-2">
                                {{ form_row(profilForm.mail, {'label_attr': {'class': 'col-5'}, 'attr': {'class': 'col-7'}}) }}
                        </div>

                        <div class="offset-3 col-6 mt-2">
                                {{ form_row(profilForm.password.first, {'label_attr': {'class': 'col-5'}, 'attr': {'class': 'col-7'}}) }}
                        </div>
                        <div class="offset-3 col-6 mt-2">
                                {{ form_row(profilForm.password.second, {'label_attr': {'class': 'col-5'}, 'attr': {'class': 'col-7'}}) }}
                        </div>
                        <div class="offset-3 col-6 mt-2">
                                {{ form_row(profilForm.campus, {'label_attr': {'class': 'col-5'}, 'attr': {'class': 'col-7'}}) }}
                        </div>

                        <div class="offset-3 col-6 mt-2 d-flex flex-row">
                                {{ form_row(profilForm.photo, {'label_attr': {'class': 'col-5'}, 'attr': {'class': 'col-7'}}) }}</div>
                        </div>

                        <div class="offset-3 col-6 d-flex justify-content-around mt-2">
                                {{ form_widget(profilForm.enregistrer, {'attr': {'class': 'btn btn-success'}}) }}
                                {{ form_widget(profilForm.annuler, {'attr': {'class': 'btn btn-primary'}}) }}
                        </div>
                {{ form_end(profilForm) }}
        </section>
{% endblock %}
